<?xml version="1.0" encoding="utf-8"?>
<channel>
  <updates>-1</updates>
  <rememberInputs>0</rememberInputs>
  <warn>0</warn>
  <action>0</action>
  <file/>
  <parameters/>
  <scheduleType>one time</scheduleType>
  <oneTimeHour>1</oneTimeHour>
  <oneTimeMin>0</oneTimeMin>
  <countDownMin>10</countDownMin>
  <idleMin>10</idleMin>
  <warnTimeOut>30</warnTimeOut>
  <language>English</language>
</channel>
